<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    a{
    margin-left:200px;
    text-decoration:none;
    color:yellow;

    }
    nav{
    background-color:black;
     padding:10px;
    }
    </style>
</head>
<body>
<nav>
<a href="/usermainpage">Home</a>
<a href="/userproductdetail">Products</a>
<a href="/userorderdisplay">Userorderdisplay</a>
<a href="/userviewreport">viewreport</a>
<a href="/logout">Logout</a>
</nav>
</body>
</html>
{% block content %}
{% endblock %}