<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    a{
    margin-left:120px;
    text-decoration:none;
    color:yellow;

    }
    nav{
    background-color:black;
     padding:10px;
    }
</style>
<body>
<nav>
<a href="/admin">Home</a>
<a href="/userdetail">User Detail</a>
<a href="/product">Product</a>
<a href="/adminProductdisplay">Productdisplay</a>
 <a href="/adminvieworderdisplay">Orders</a>
<a href="/adminuserviewreport"> UsersPayment Detail</a>
    <a href="/logout">Logout</a>
    </nav>
</body>
</html>
{% block content %}
{% endblock %}