<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>team</title>
    <link rel="stylesheet" href="/static/css/style4.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
  <a href="/" style="text-decoration:none;"><i class="fa fa-home"></i>Home</a>
        <main>
            <h1>Meet our Leaders</h1>
            <div class="slider">
                <div class="slide-row" id="slide-row">
                  <div class="slide-col">
                        <div class="content">
                            <p>The CEO is the highest-ranking person in a company,CEOs are often responsible for expanding the company,driving profitability,and in the case of public companies improving share prices.CEOs manage the overall operation of a company.</p>
                            <h2>Tejas</h2>
                            <p>CEO</p>
                        </div>
                        <div class="hero">
                            <img src="/static/img/naresh.png" alt="avatar">
                        </div>
                    </div>

                    <div class="slide-col">
                        <div class="content">
                            <p>A product team is responsible for designing,developing and shiping a product.In simple terms,a product is anything that fulfills the target customer's needs.Depending on where you work, that could mean designing,developing and delivering a mobile application,a digital platform,or a tangible item.</p>
                            <h2>Vijay</h2>
                            <p>Product manager</p>
                        </div>
                        <div class="hero">
                            <img src="/static/img/vijay.jpg" alt="avatar">
                        </div>
                    </div>

                    <div class="slide-col">
                        <div class="content">
                            <p>  The CTO serve as a strategic leader for the IT department and oversees the development,implementation and management.As a C-level executive,a CTOs responsibilities include leading an organization's technological vision,strategies and execution.</p>
                            <h2>Deepak</h2>
                            <p>CTO</p>
                        </div>
                        <div class="hero">
                            <img src="/static/img/deepak.png" alt="avatar">
                        </div>
                    </div>

                </div>
            </div>

            <div class="indicator">
                <span class="btn active"></span>
                <span class="btn"></span>
                <span class="btn"></span>
            </div>
        </main>
<script src="/static/js/script2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>