{% extends "commonuser.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<table border="1px solid black" cellpadding="6px" cellspacing="0px"
       align="center" style="margin-top:60px">
    <tr>
       <th>Orderid</th>
        <th>Product Id</th>
        <th>User Id</th>
        <th>Product Type</th>
        <th>Product Name</th>
        <th>Product File</th>
        <th>Product Price</th>
        <th>Require Quantity</th>
        <th>Total</th>
        <th>Delete Order</th>
    </tr>
    {% for x in data %}
    <tr>
        <td>{{x[0]}}</td>
         <td>{{x[1]}}</td>
         <td>{{x[2]}}</td>
         <td>{{x[3]}}</td>
         <td>{{x[4]}}</td>
         <td><img src="/static/img/{{x[7]}}" width="100px" height="50px"> </td>
         <td>{{x[6]}}</td>
         <td>{{x[8]}}</td>
         <td>{{x[9]}}</td>
         <td>
             <a href="/deleteaddtocart?id={{x[0]}}&rqty={{x[8]}}&pid={{x[1]}}"
                style="color:red;"><i class="fa fa-trash-o"></i></a>
         </td>
    </tr>
    {% endfor %}
<tr>
    <th colspan="8">
        <h4>
        <a href="/payment?total={{total}}" style="color:red;">Make Payment</a>
        </h4>
    </th>
    <th>Total : {{total}}</th>
</tr>
</table>

</body>
</html>
{% endblock %}
